# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
.venv/
venv/

# Data (keep source data out of Git unless small; mention where to download)
*.csv
*.npy
*.npz
